initialize() {
	
	cat("\nStart initialize\n");
	// uncomment this if you want to set a seed 
	//setSeed(1);
	
	defineConstant("nucleotide",0); // 0/1, whether to simulate individual nucleotides as ACTG. note that as of writing this does not work with treesequence recording. 
	defineConstant("chromLength",100000); // the length of the simulated chromosome in bases. 
	
	if (exists ("slimgui")) {
		// this chunk of code will only run in the gui -- otherwise you must specify in the bash script
		// note these are default values. 
		// flags from bash script are also shown for reference
		
		defineConstant("mu_un", 2e-7); // -m, the unscaled mutation rate
		defineConstant("recomb_un",2e-8); // -r, the unscaled recombination rate
		defineConstant("N_un",250); // -N, the unscaled population size per population at the start of the simulation
		defineConstant("N_dif_un",250); // -f, the unscaled population size per population, after any size changes.
		
		defineConstant("subpopCount",2); // -B, the number of subpopulations present.
		
		defineConstant("g_rate",1.00); // -g, rate of population size change. 1.0 indicates no change, lower values are contractions, larger values are growth.
		defineConstant("growthGen_un",1000); // -G, unscaled generation for growth to begin
		
		defineConstant("selStrength",0.0); // -w, strength of selection in a sweep. 
		defineConstant("sweepType","n"); // -h, n/h/s, whether no, hard, or soft sweeps are implemented
		defineConstant("sweepGen_un",1000); // -H, unscaled generation for a selective sweep to begin. 
		
		defineConstant("outSamp",20); // -s, number of individuals to output
		defineConstant("tempName",'modelnuc.temp'); // -o, name of temp/MS file
		defineConstant("textName",'modelnuc.txt'); // -o, name of txt file
		defineConstant("treeName",'modelnuc.trees'); // -o, name of trees file
		defineConstant("locsName",'modelnuc.locs'); // -o, name of locations file
		defineConstant("outputGen_un",1000); // -O, output generation
		
		defineConstant("spatial",1); // -l, 0/1, whether model is spatially explicit 
		defineConstant("ibd",1); // -i, 0/1, whether isolation by distance (spatial mate choice) is implemented
		defineConstant("nicheFile","vireotest_slim_TRANSITION_57x87_coarse.txt"); // -e, niche model filename, if this doesn't work try changing end-of-line character format
		defineConstant("nicheX",57); // -x, x-axis size of niche model
		defineConstant("nicheY",87); // -y, y-axis size of niche model 
		defineConstant("competition",1); // -c, 0/1, whether competition is present/absent
		
		defineConstant("treeSeq",1); // -t, 0/1, whether or not treesequence recording is used
		
		defineConstant("allPops",0); // -a, 0/1, whether or not sweep/growth changes impact all populations or just p1. currently not implemented 
		defineConstant("migRate",0); // -M, migration rate. must be 0 to <1, performance drops at values greater than ~0.1
		defineConstant("secContact",1); // -v, 0/1, whether or not secondary contact is present/absent. 
		defineConstant("secConGen_un_before",100); // -V, unscaled number of generations of secondary contact
		defineConstant("secConGen_un",outputGen_un-secConGen_un_before); // sets the number of generations of secondary contact to start at the end of the simulation
		
		
		defineConstant("scaling",0.5); // -X, scaling factor used. 
	}
	
	defineConstant("burnin",100); // the number of generations of burnin before the simulation starts. 
	
	// SET UP SCALING FACTORS
	// scale NE -- multiply
	defineConstant("N", asInteger(N_un * scaling));
	defineConstant("N_dif", asInteger(N_dif_un * scaling));
	
	// scale mutation -- divide
	defineConstant("mu",mu_un / scaling);
	
	// scale recombination -- complex function
	defineConstant("recomb",0.5*(1-(1-2*recomb_un)^(1/scaling)));
	
	// scale generation times -- multiply
	defineConstant("growthGen", asInteger(growthGen_un * scaling)+burnin);
	defineConstant("sweepGen", asInteger(sweepGen_un * scaling)+burnin);
	defineConstant("outputGen", asInteger(outputGen_un * scaling)+burnin);
	defineConstant("secConGen", asInteger(secConGen_un * scaling)+burnin);
	
	if(spatial==1){
		// this code only runs if you are implementing spatial simulations
		// sets up the dimensionality of the simulation
		if(nucleotide==0) {initializeSLiMOptions(dimensionality="xy");}
		else {initializeSLiMOptions(dimensionality="xy",nucleotideBased=T);}
	
	
	} else {
		// this code only runs if you are not implementing spatial simulations. 
		if(nucleotide==1) {initializeSLiMOptions(nucleotideBased=T);
			cat("nucleotides on");}
	}
	
	
	// if you want to use nucleotides this code implements it. Note, this does not work with recapitation step downstream in pyslim.
	if(nucleotide==1) {initializeAncestralNucleotides(randomNucleotides(chromLength));}
	
	if(treeSeq==1){
		// running tree-sequences will speed up simulation time, but will require recapitation 
		initializeTreeSeq();
		
		if(nucleotide==0)
		{initializeMutationRate(0.0);} // does not work with nucleotide flag
		else {
			initializeHotspotMap(0.0);
		}
	}
	else {
		// set up mutation rates or mutation hotspots
		if(nucleotide==0)
		{
			initializeMutationRate(mu);
		} else {
			initializeHotspotMap(0.0);
		}
	}
	
	// set up mutation types 
	if(nucleotide==1) {
		initializeMutationTypeNuc("m1", 0.5, "f", 0.0); // normal mutations
		initializeMutationTypeNuc("m2", 1.0, "f", 0.0); // introduced mutation for sweeps, set to 0.0 here to be changed later 
	} else {
		initializeMutationType("m1", 0.5, "f", 0.0); // normal mutations
		initializeMutationType("m2", 1.0, "f", 0.0); // introduced mutation, set to 0.0 here to be changed later 
	}
	if(nucleotide==0){
		initializeGenomicElementType("g1", m1, 1.0);
	} else {
		// set up JukesCantor model for nucleotide evolution
		initializeGenomicElementType("g1", m1, 1.0, mmJukesCantor(1e-7)); 
	}
	
	// set chromosome length
	initializeGenomicElement(g1, 0, chromLength-1);
	
	initializeRecombinationRate(recomb);
	
	// NOTE: changing the interactions to sigma_C etc makes it 10x faster, but this functionality was not tested
	if (spatial==1) {
		if(competition==1) {
			// spatial competition interactions, optional
			initializeInteractionType(1, "xy", reciprocal=T, maxDistance=0.3); // competition
			i1.setInteractionFunction("n", 3.0, 0.1);
		
		}
		if(ibd==1) {
			// spatial mate choice to invoke ibd
			initializeInteractionType(2, "xy", reciprocal=T, maxDistance=0.3);
		}
	}
	// set up colors for visualization 
	defineConstant("spatialcolors",c("black","blue","cyan"));
	
	
	cat("\nEnd initialize\n");

}

function (void)restartSimulation(void)
{
	// this block restarts the simulation 
	// there are a few cases in which the simulation requires restarting
	// primarily when hard or soft sweeps are in effect
	// this will reset the simulation as seed n+1 
	
	cat("\n"+simID + ": LOST BEFORE ESTABLISHMENT - RESTARTING\n");
	// go back to generation that was checkpointed 
	// modify so that can work with treeSeq objects
	if(treeSeq==0){
		sim.readFromPopulationFile("/tmp/slim_" + simID + ".txt");
	}
	else {
		sim.readFromPopulationFile("/tmp/slim_" + simID + ".trees");
	}
	
	// when this is called it erases many variables from memory which must be reset
	if(spatial==1){
		if(competition==1){
			i1.evaluate();
		}
		if(ibd==1){
			i2.evaluate();
		}
		mapLines = rev(readFile(nicheFile));
		mapLines = sapply(mapLines, "strsplit(applyValue, ' ');");
		mapValues = asFloat(mapLines);
		for (i in 1:subpopCount) {
			sim.subpopulations[i-1].defineSpatialMap("map1", "xy", c(nicheY, nicheX), mapValues, interpolate=F,
				valueRange=c(-1.0, 1.0), colors=spatialcolors);
		}
	}
	//print(s1 == active);
	// start a newly seeded run by incrementing the previous seed
	setSeed(getSeed() + 1);
	print("\n"+getSeed());
	
	// re-introduce the sweep mutation
	if (allPops == 0) {
		target = sample(p1.genomes, 1);
		target.addNewDrawnMutation(m2, 10000);
		mut = sim.mutationsOfType(m2);
		//cat("\nadded muts 0\n");
	}
	else if (allPops == 1){
		for (i in 1:subpopCount){
			if (i == 1)
			{
				target = sample(p1.genomes, 1);
				target.addNewDrawnMutation(m2, 10000);
				mut = sim.mutationsOfType(m2);
				//cat("\nadded muts 1.0\n");
			}
			else {
				target = sample(sim.subpopulations[i-1].genomes,1);
				target.addMutations(mut);
				//cat("\nadded muts 1.1\n");
			
			}
		}
	}
	if (sweepType == "h")
	{
		//cat("\nset strength\n");
		mut = sim.mutationsOfType(m2);
		mut.setSelectionCoeff(selStrength);
	}
	// consider adding something about fitness

}

fitness(NULL) {
	// fitness callback to evaluate competition 
	if(spatial==1){
		if(competition==1){
			if (relFitness == 0){
				return(0.0);
			}
			//print("evaluate fitness 1");
			totalStrength = i1.totalOfNeighborStrengths(individual);
			return 1.1 - totalStrength / subpop.individualCount;
			// this only calculates competition for the subpop where the individual resides
			// will need to implement competition between populations 
		}
	}
	return relFitness;
}

fitness(NULL) {
	// fitness callback to evaluate fitness on the niche model
	if(spatial==1){
		//print("evaluate fitness 2");
		// reward based on the cell you're in 
		location = individual.spatialPosition[0:1];
		value = subpop.spatialMapValue("map1",location);
		//cat(subpop,"\n");
		if(value==-1) {
			return (0.0);
		}
		else {
			// return the value of those cells  
			return (sqrt(sqrt(value))*relFitness);
			//return 2*(sqrt(sqrt(value))*relFitness);
		}
	}
	return(relFitness);
}

modifyChild() {
	// generating offspring 
	i = which(sim.subpopulations== subpop)+1;
	if (spatial==1){
		//print("modify child spatial");
		// draw a child position near the first parent, within bounds
		// Note: probability of breeding has to do with ENM values for the cell the parent is in 
		do pos = parent1.spatialPosition + rnorm(2, 0, 0.02);
		while (!sim.subpopulations[i-1].pointInBounds(pos)); {
			// prevent dispersal into water
			if (sim.subpopulations[i-1].spatialMapValue("map1", pos) == -1.0) {
				return F;
			}
			// if not within the population subboundary do not accept
			if (sim.generation > (burnin-1)) {
				
				lower=((i-1)/subpopCount);
				upper=((i)/subpopCount);
				if ((pos[0] < lower) | (pos[0] > upper)) {
					return F;
				}
			}
			child.setSpatialPosition(pos);
			return T;
		}
	}
	return T;
}

1 early(){
	// reschedule the blocks according to the parameters specified 
	cat("reschedule script blocks\n");
	
	sim.rescheduleScriptBlock(s1, start=growthGen); // forever, no end specified
	sim.rescheduleScriptBlock(s2, start=sweepGen,end=sweepGen);
	sim.rescheduleScriptBlock(s3, start=secConGen,end=secConGen);
	sim.rescheduleScriptBlock(s4, start=sweepGen); // forever, no end specified
	sim.rescheduleScriptBlock(s5, start=outputGen,end=outputGen);
	sim.rescheduleScriptBlock(s6, start=burnin,end=burnin);

}

1 late() {
	// set up the populations 
	sim.addSubpop(1,N*subpopCount);
	
	if (spatial==1) {
		cat("\nset spatial\n");
		sim.subpopulations[0].setSpatialBounds(c(0.0, 0.0, 1.0, 1.0));
		mapLines = rev(readFile(nicheFile));
		mapLines = sapply(mapLines, "strsplit(applyValue, ' ');");
		mapValues = asFloat(mapLines);
		sim.subpopulations[0].defineSpatialMap("map1", "xy", c(nicheY, nicheX), mapValues, interpolate=F,
			valueRange=c(-1.0, 1.0), colors=spatialcolors);
		for (ind in sim.subpopulations[0].individuals) {
			ind.setSpatialPosition(p1.pointUniform());
		}
	
	}

}

s6 1 late() {
	
	// save this run's identifier, used to save and restore
	defineConstant("simID", getSeed());
	
	// add the subpopulations
	cat("\nAdd subpops\n");
	if (subpopCount > 1) {
		for (i in 2:subpopCount) {
			if (i == 1) { sim.addSubpop(i, N); } else { sim.addSubpopSplit(i, N, 1); }
			if (spatial==1) {
				// subdivide the map based on the number of populations and then set up spatial
				lower=((i-1)/subpopCount);
				upper=((i)/subpopCount);
				cat("\nset spatial\n");
				
				sim.subpopulations[i-1].setSpatialBounds(c(0.0, 0.0, 1.0, 1.0)); 
				mapLines = rev(readFile(nicheFile));
				mapLines = sapply(mapLines, "strsplit(applyValue, ' ');");
				mapValues = asFloat(mapLines);
				//print(mapValues);
				
				sim.subpopulations[i-1].defineSpatialMap("map1", "xy", c(nicheY, nicheX), mapValues, interpolate=F,
					valueRange=c(-1.0, 1.0), colors=spatialcolors);
				// initial positions are random in ([0,1], [0,1])
				//p1.individuals.x = runif(p1.individualCount);
				//p1.individuals.y = runif(p1.individualCount);
				// Initial positions are random within spatialBounds
				for (ind in sim.subpopulations[i-1].individuals) {
					ind.setSpatialPosition(p1.pointUniform());
				}
			}
		}
	}
	//cat(sim.subpopulations);
	//cat("\n");
	if (migRate > 0) {
		// set migration rates between -- currently, all symmetrical all the time 
		if (secContact == 0) {
			cat("\nBegin migration\n");

			for (i in 1:subpopCount) {
				for (j in 1:subpopCount) {
					if (i != j) {
						sim.subpopulations[i-1].setMigrationRates(j, migRate);
					}
				}
			}
		}
	}
}

1: late() {

	// evaluate competition and mate choice if present

	// print the generation 
	if((sim.generation % 100) == 0) { cat(sim.generation+" "); }
	if((sim.generation % 500) == 0) { cat("\n"); }
	
	//print("evaluate comp/choice");
	if (spatial==1){
		if (competition==1){
			i1.evaluate();
			//i3.evaluate();
		}
		if (ibd==1){
			i2.evaluate();
		}
	}
	//print("eval");
}

1: mateChoice() {
	// evaluate mate choice with or without IBD

	if(spatial==1){
		if(ibd==1){
			//print("mate choice 1");
			// nearest-neighbor mate choice
			neighbors = i2.nearestNeighbors(individual, 3);
			
			mates = sample(neighbors,1);
			// mates = rep(0.0, sourceSubpop.individualCount);
			// sample a single individual from neighbors and return that individual as the mate 
			// implement!!!
			//mates[neighbors.index] = 1.0; // this automatically handles the other population i think?
		}
		else {
			//print("mate choice 2");
			mates = rep(1.0, sourceSubpop.individualCount);
		}
	}
	else {
		//print("mate choice 2");
		mates = rep(1.0, sourceSubpop.individualCount);
	}
	return mates;

}

s1 1000: early() { 
	// implement growth or contraction, which will only work if g_rate is not 1 
	// note: this only is set up to work on P1 for now 
	
	//print("Evaluate size change");
	// calculate the number of generations it will take to reach N_dif, the new population size
	if ( (log(N_dif/N) / log(g_rate) + (growthGen-1)  ) > sim.generation) {
		//print("size");
		newSize = asInteger(round(g_rate^(sim.generation - (growthGen-1) ) * N));
		//print(newSize);
		if (N > N_dif)
		{
			if (newSize <= N_dif) {
				newSize = N_dif;
				//print("deregister");
				//sim.deregisterScriptBlock(self);
			}
		}
		else if (N < N_dif) {
			if (newSize >= N_dif) {
				newSize = N_dif;
				//print("deregister");
				//sim.deregisterScriptBlock(self);
			}
		}
		else {
			newSize = N_dif;
			//print("deregister");
			//sim.deregisterScriptBlock(self);
		}
	}
	else {
		//print("unsize");
		newSize=N_dif;
	}
	//cat("testing subpops\n");
	//cat(sim.subpopulations);
	//cat("\n");
	sim.subpopulations[0].setSubpopulationSize(newSize);
}

s2 1000 late() { 
	
	// save the state of the simulation
	cat("\n"+"save sim\n"); 
	
	// output everything temporarily
	if(treeSeq==0){
		sim.outputFull("/tmp/slim_" + simID + ".txt");
	}
	else {
		sim.treeSeqOutput("/tmp/slim_" + simID + ".trees");
	}
	cat("\n"+"add mutation\n");
	
	// set up sweeps if needed
	// note: this currently is only done for pop1
	
	// h (hard sweeps)
	if (sweepType == "h") {
		
		if (allPops == 0) {
			target = sample(p1.genomes, 1);
			target.addNewDrawnMutation(m2, 10000);
			mut = sim.mutationsOfType(m2);
		}
		if (allPops == 1){
			for (i in 1:subpopCount){
				
				if (i == 1){
					target = sample(p1.genomes, 1);
					target.addNewDrawnMutation(m2, 10000);
					mut = sim.mutationsOfType(m2);
				
				}
				else {
					target = sample(sim.subpopulations[i-1].genomes,1);
					target.addMutations(mut);
				}
			}
		}
		// if the sweep type is "h" change the selection coefficient
		
		mut = sim.mutationsOfType(m2);
		mut.setSelectionCoeff(selStrength);
	}
	
	// if the sweep type is "s" (soft) add to 5% of individuals, rounded
	if (sweepType=="s") {
		numberToAdd= asInteger(round(N*0.09));
		cat("\nAdding: "+numberToAdd+"\n");
		
		if (allPops == 0) {
			target = sample(p1.genomes, numberToAdd);
			target.addNewDrawnMutation(m2, 10000);
			mut = sim.mutationsOfType(m2);
		}
		if (allPops == 1){
			for (i in 1:subpopCount){
				
				if (i == 1){
					target = sample(p1.genomes, numberToAdd);
					target.addNewDrawnMutation(m2, 10000);
					mut = sim.mutationsOfType(m2);
				
				}
				else {
					target = sample(sim.subpopulations[i-1].genomes,1);
					target.addMutations(mut);
				}
			}
		}
	}
	
	
}

s3 1000 late() {
	// set up secondary contact 
	
	if (secContact == 1) {
		if (migRate > 0) {
			cat("secondary contact\n");
			
			// set migration rates between populations. all symmetrical all the time 
			
			for (i in 1:subpopCount) {
				for (j in 1:subpopCount) {
					//cat(i+" "+j+"\n");
					if (i != j) {
						sim.subpopulations[i-1].setMigrationRates(j, migRate);
					}
				}
			}
		}
	}
}

s4 1000: late() {

	// check status of selective sweeps to see if simulation needs to reset
	// NOTE: this does not currently check if its fixed within a population, missing within a population, or if one population keeps and one loses a sweep mutation
	
	if (sweepType == "s")
	{
		//cat("\nSOFT SWEEP\n");
		// this is for soft sweeps 
		mut = sim.mutationsOfType(m2);
		if (size(mut) == 1)
		{
			//cat("\nMUTATIONS PRESENT\n");
			//if (sim.mutationFrequencies(NULL, mut) > 0.1)
			if (allPops == 0){
				//cat("\nNOT ALLPOPS\n");
				if (sim.mutationFrequencies(p1, mut) > 0.1) // assumes only happening in p1
				{
					cat("\n"+simID + ": ESTABLISHED - CONVERTING TO BENEFICIAL\n");
					mut.setSelectionCoeff(selStrength);
					//sim.deregisterScriptBlock(self);
				}
			}
			else if (allPops == 1) {
				for (i in 1:subpopCount){
					est = T;
					if (sim.mutationFrequencies(sim.subpopulations[i-1], mut) <= 0.1)
					{
						est = F;
						if (sim.mutationFrequencies(sim.subpopulations[i-1],mut) <= 0.0) {
							
							//sim.registerLateEvent(NULL,s1.source);
							
							cat("\nrestart1\n");
							restartSimulation();
						
						}
					}
					if (est == T) {
						cat("\n"+simID + ": ESTABLISHED IN ALL POPS - CONVERTING TO BENEFICIAL\n");
						mut.setSelectionCoeff(selStrength);
						//sim.deregisterScriptBlock(self);
					}
				}
			}
		}
		else
		{
			//cat("\nNO MUTS?\n");
			// check if the mutation has fixed or not
			
			fixed = (sum(sim.substitutions.mutationType == m2) == 1);
			if (fixed)
			{
				cat("\n"+simID + ": FIXED\n");
				//sim.simulationFinished();
				sim.deregisterScriptBlock(s4);
			}
			else {
				
				cat("\nrestart2\n");
				restartSimulation();
			}
		}
	}
	if ((sweepType == "h") | (sweepType == "s")) // or statement
	{
		//cat("\nSOFT OR HARD SWEEP\n");
		if (subpopCount > 1){
			//cat("\nSUBPOP COUNT OVER 1\n");
			mut = sim.mutationsOfType(m2);
			
			if (allPops==0) {
				//cat("\nALLPOPS 0\n");
				if (size(mut) == 1) {
					freqmut = (sim.mutationFrequencies(p1, mut));
					//print(freqmut);
					if (freqmut >= 1) {
						cat("\n"+simID + ": FIXED\n");
						sim.deregisterScriptBlock(s4);
					}
					else if (freqmut <= 0.0) {
						
						cat("\nrestart3\n");
						restartSimulation();
					
					}
				}
				else {
					
					cat("\nrestart3.1\n");
					restartSimulation();
				
				}
			}
			else if (allPops == 1) {
				//cat("\nALLPOPS 1\n");
				
				if (size(mut) == 1) {
					freqmut = 0;
					allfreqmut = 0;
					
					for (i in 1:subpopCount) {
						
						freqmut = (sim.mutationFrequencies(sim.subpopulations[i-1],mut));
						allfreqmut = allfreqmut + freqmut;
						
						cat("\n subpop:"+i+" freq: "+freqmut);
						
						if (freqmut == 0) {
							fixed = (sum(sim.substitutions.mutationType == m2) == 1);
							if (fixed)
							{
								cat("\n"+simID + ": FIXED\n");
								//sim.simulationFinished();
								sim.deregisterScriptBlock(s4);
							}
							else {
								cat("\nrestart3.1\n");
								restartSimulation();
							}
						}
					}
					avg = freqmut / subpopCount;
					cat("\n avg: "+avg);
					if (avg >= 1) {
						cat("\n"+simID + ": FIXED\n");
						sim.deregisterScriptBlock(s4);
					}
					else if (avg <= 0) {
						cat("\nrestart4\n");
						restartSimulation();
					}
				}
				else
				{
					fixed = (sum(sim.substitutions.mutationType == m2) == 1);
					if (fixed)
					{
						cat("\n"+simID + ": FIXED\n");
						//sim.simulationFinished();
						sim.deregisterScriptBlock(s4);
					}
					else {
						cat("\nrestart5\n");
						restartSimulation();
					}
				}
			}
			// this is for hard sweeps 
			if (sim.countOfMutationsOfType(m2) == 0)
			{
				fixed = (sum(sim.substitutions.mutationType == m2) == 1);
				if (fixed)
				{
					cat("\n"+simID + ": FIXED\n");
					//sim.simulationFinished();
					//sim.deregisterScriptBlock(s4); // breaking -- could be doubled
				}
				else
				{
					cat("\nrestart6\n");
					restartSimulation();
				}
			}
		}
		else if (subpopCount <= 1){
			if (sim.countOfMutationsOfType(m2) == 0)
			{
				fixed = (sum(sim.substitutions.mutationType == m2) == 1);
				if (fixed)
				{
					cat("\n"+simID + ": FIXED\n");
					//sim.simulationFinished();
					//sim.deregisterScriptBlock(s4); // uncomment because called twice? 
				}
				else
				{
					cat("\nrestart6.1\n");
					restartSimulation();
				}
			}
		}
	}
}

s5 2000 late() {

	// output results of simulation 

	cat("\nOutput\n\n###########################\n\n");
	
	if (spatial==1) {
		lines = "LOCATIONS OF INDIVIDUALS\nX Y POP\n";
		for (i in 1:subpopCount) {
			for (ind in sim.subpopulations[i-1].individuals) {
				//cat(ind.spatialPosition);
				//cat(" ");
				//cat(i);
				//cat("\n");
				line = paste(c(ind.spatialPosition, " ", i, "\n"), "");
				lines = c(lines, line);
			
			
			}
		}
		file = paste(lines, "");
		cat("\nWriting file\n");
		if (!writeFile(locsName, file))
			stop("Error writing file.");
	}
	
	cat("\n");
	
	
	//sim.outputFull();
	//p1.outputMSSample(outSamp*2,replace=F,filePath=textName,append=T);
	if(treeSeq==0){
		p1.outputMSSample(outSamp*2,replace=F,filePath=tempName,append=F);
		// note that we multiple outSamp by 2 because we want outSamp individuals each with 2 genomes
	}
	else {
		sim.treeSeqOutput(treeName);
	}
	sim.simulationFinished();
}

